################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/A06/.vs/A06/FileContentIndex/f252a2bd-1a5b-4e2f-be06-6503a14457a4.vsidx
/A06/.vs/A06/FileContentIndex/2c1964ca-e4ef-4466-b592-205a5bdef9f6.vsidx
